.home {
	width: 100%;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(rgba(5, 10, 35, 0.2), rgba(5, 10, 35, 0.2)),
		url('../../public/bg-image.webp');
	background-position: center;
}
